.header {
    background-color: azure;
    background-image: url(images/4-uwm-hero.jpg);
    padding: 440px;
    background-position: center bottom;
    background-repeat: no-repeat;
}


.main {
    background-color: blueviolet;
}